﻿<div class="row align-items-center h-100">
    <div class="login-card col-6 mx-auto">
        <div class="card bg-transparent border-0">
            <div class="card-header card-header-custom">
                <h5 class="card-title mt-2">Klaar!</h5>
            </div>
            <div class="card-body text-center">
                <div class="alert-success">
                    <p>
                        U ontvangt een Verifiable Credential met de gegevens die werden uitgelezen van uw e-ID kaart.
                        Deze Credential is uniek en kan enkel worden verstrekt door de Belgische overheid.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
