﻿@{
    var invitation = (string)ViewData["Invitation"];
    var qrUri = $"https://chart.googleapis.com/chart?cht=qr&chs=300x300&chld=L|0&chl={Uri.EscapeDataString(invitation)}";
    var connectionId = (string)ViewData["ConnectionId"];
}

<div class="row align-items-center h-100">
    <div class="login-card col-6 mx-auto">
        <div class="card bg-transparent border-0">
            <div class="card-header card-header-custom">
                <h3>Uitnodiging</h3>
            </div>
            <img class="card-img" src="@qrUri" />
            <div class="card-body text-center">
                <p>
                    Scan de QR-code met jouw portefeuille-app om te verbinden met BE e-ID. Van zodra de connectie tot stand
                    is gebracht, zal je worden doorverwezen om je met je e-ID te identificeren. Wanneer dit is voltooid zal je
                    de e-ID Verifiable Credential ontvangen.
                </p>
                <p>
                    <small>Er worden tijdens dit proces <u>geen</u> persoonlijke gegevens bewaard.</small>
                </p>
                <p>
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Open in app</a>
                </p>
                <form class="input-group mb-3">
                    <input readonly="readonly" type="text" id="invitationDetails" autocomplete="off" class="form-control" value="@invitation" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" onclick="copyToCliboard(document.getElementById('invitationDetails'));return false;">Copy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/connection.js"></script>
<script type="text/javascript">
    setConnectionParameters('@connectionId');
</script>

@await Html.PartialAsync("_LaunchApp", invitation)


