﻿@model Hyperledger.Aries.Features.DidExchange.ConnectionInvitationMessage
@{
    ViewData["Title"] = "ViewInvitation";
    var invitationDetails = (string)ViewData["InvitationDetails"];
}
<form asp-controller="Connections" asp-action="AcceptInvitation">
    <input type="hidden" name="InvitationDetails" value="@invitationDetails" />
    <div class="row align-items-center h-100">
        <div class="login-card col-6 mx-auto">
            <div class="card bg-transparent border-0" style="width: 18rem;">
                <div class="card-header card-header-custom">
                    Uitnodiging tot connecteren. 
                </div>
                <img class="card-img" src="@Url.Identicon(Model.Label, size: 300)" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">@Model.Label</h5>
                    <p class="card-text"><small class="text-muted">@Model.ServiceEndpoint</small></p>
                    @*<button type="submit" class="btn btn-primary">Accept Invitation</button>*@
                </div>
            </div>
        </div>
    </div>
</form>