﻿@model ProvisioningRecord

@{
    ViewData["Title"] = "BE e-ID VC";
}

<div class="row align-items-center h-100">
    <div class="login-card col-6 mx-auto">
        <div class="card bg-transparent border-0">
            <div class="card-header card-header-custom">
                <h5 class="card-title mt-2">@Model.Owner.Name</h5>
                e-ID op je telefoon.
            </div>
            <div class="card-body text-center">
                @*<img style="width: 100px; height: 100px" src="@Url.Identicon(Model.Owner.Name, size: 200)" alt="@Model.Owner.Name">
                <h5 class="card-title mt-2">@Model.Owner.Name</h5>
                <small class="text-muted">@Model.Endpoint.Uri</small>*@
                <a class="btn main-button mt-3" role="button" asp-controller="Connections" asp-action="CreateInvitation">START</a>
            </div>
            @*<ul class="list-group list-group-flush">
                <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="DID">@Model.Endpoint.Did</li>
                <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="VERKEY">@Model.Endpoint.Verkey.First()</li>
            </ul>*@

        </div>
    </div>
</div>
