﻿
body {
    font-family: 'Roboto', sans-serif !important;
    border: none;
    padding: 0 0 0 0 !important;
    margin: auto 0 0 0 0 !important;
    height: 100vh;
}

.login-card {
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    min-width: 350px;
    background-color: white;
    opacity: 0.85;
/*/    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login-card :hover {
    opacity: 1;
}

.card-header-custom {
    background-color: transparent;/*#ECF0F5 !important;*/
}

.navbar_custom {
    background-color: #FFFFFF !important;
    //#0C66A7 !important;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}


.validation-summary-errors ul {
    list-style: none;
    margin-left: -40px;
    list-style-type: none;
}

.nav-logo {
    max-height: 60px !important;
    width: auto !important;
}

.body-container {
    height: 100%;
    //calc(100vh - 200px);
    min-height: 100%;
    border: none;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    background: url("../images/backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.basic-message {
    max-width: 83%;
}